/target
/gen
/build
/.direnv
ios/AnymoneKit/*.xcframework
ios/AnymoneKit/Sources/AnymoneKit/AnymoneKit.swift
ios/AnymoneKit/Sources/AnymoneKitFFI/
ios/AnymoneKit/Sources/AnymoneBenchKitFFI/
ios/AnymoneApp/AnymoneApp.xcodeproj
ios/AnymoneApp/build
ios/build
android/.gradle
android/build
android/*/build
android/core/src/main/jniLibs
android/core/src/main/kotlin/net/flashbots/anymone/ffi/anymone_ffi.kt
android/core/src/main/kotlin/net/flashbots/anymone/bench/anymone_bench.kt
android/local.properties
.DS_Store
*.swp
